In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import pyodbc
import numpy as np

In [2]:
df = pd.read_csv('input/2023Jan1-2023Nov30AmznSalesReportR.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45981 entries, 0 to 45980
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date/time                 45981 non-null  object
 1   settlement id             45981 non-null  int64
 2   type                      45981 non-null  object
 3   order id                  45609 non-null  object
 4   sku                       33477 non-null  object
 5   description               45981 non-null  object
 6   quantity                  33325 non-null  float64
 7   marketplace               33422 non-null  object
 8   account type              45981 non-null  object
 9   fulfillment               33100 non-null  object
 10  order city                33094 non-null  object
 11  order state               33054 non-null  object
 12  order postal              33093 non-null  object
 13  tax collection model      30232 non-null  object
 14  product sales             45981 non-null  object
 15  product sales tax         45981 non-null  float64
 16  shipping credits          45981 non-null  float64
 17  shipping credits tax      45981 non-null  float64
 18  gift wrap credits         45981 non-null  float64
 19  giftwrap credits tax      45981 non-null  float64
 20  Regulatory Fee            45981 non-null  int64
 21  Tax On Regulatory Fee     45981 non-null  int64
 22  promotional rebates       45981 non-null  float64
 23  promotional rebates tax   45981 non-null  int64
 24  marketplace withheld tax  45981 non-null  float64
 25  selling fees              45981 non-null  float64
 26  fba fees                  45981 non-null  float64
 27  other transaction fees    45981 non-null  float64
 28  other                     45981 non-null  object
 29  total                     45981 non-null  object
dtypes: float64(11), int64(4), object(15)
memory usage: 10.5+ MB

**Convert columns to numeric**

In [3]:
df['product sales']=df['product sales'].apply(lambda x: x.replace(',',''))
df['product sales'] = df['product sales'].astype(float)

In [4]:
df['other']=df['other'].apply(lambda x: x.replace(',',''))
df['other'] = df['other'].astype(float)

In [5]:
df['total']=df['total'].apply(lambda x: x.replace(',',''))
df['total'] = df['total'].astype(float)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45981 entries, 0 to 45980
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date/time                 45981 non-null  object
 1   settlement id             45981 non-null  int64
 2   type                      45981 non-null  object
 3   order id                  45609 non-null  object
 4   sku                       33477 non-null  object
 5   description               45981 non-null  object
 6   quantity                  33325 non-null  float64
 7   marketplace               33422 non-null  object
 8   account type              45981 non-null  object
 9   fulfillment               33100 non-null  object
 10  order city                33094 non-null  object
 11  order state               33054 non-null  object
 12  order postal              33093 non-null  object
 13  tax collection model      30232 non-null  object
 14  product sales             45981 non-null  float64
 15  product sales tax         45981 non-null  float64
 16  shipping credits          45981 non-null  float64
 17  shipping credits tax      45981 non-null  float64
 18  gift wrap credits         45981 non-null  float64
 19  giftwrap credits tax      45981 non-null  float64
 20  Regulatory Fee            45981 non-null  int64
 21  Tax On Regulatory Fee     45981 non-null  int64
 22  promotional rebates       45981 non-null  float64
 23  promotional rebates tax   45981 non-null  int64
 24  marketplace withheld tax  45981 non-null  float64
 25  selling fees              45981 non-null  float64
 26  fba fees                  45981 non-null  float64
 27  other transaction fees    45981 non-null  float64
 28  other                     45981 non-null  float64
 29  total                     45981 non-null  float64
dtypes: float64(14), int64(4), object(12)
memory usage: 10.5+ MB

**Only orders with an Order Id (Drops various seperate fees(Service Fees, Adjustments, FBA Inv Fees))**

In [7]:
Oid = df.loc[~df['order id'].isnull()]
Oid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45609 entries, 0 to 45980
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date/time                 45609 non-null  object
 1   settlement id             45609 non-null  int64
 2   type                      45609 non-null  object
 3   order id                  45609 non-null  object
 4   sku                       33334 non-null  object
 5   description               45609 non-null  object
 6   quantity                  33182 non-null  float64
 7   marketplace               33321 non-null  object
 8   account type              45609 non-null  object
 9   fulfillment               33100 non-null  object
 10  order city                33094 non-null  object
 11  order state               33054 non-null  object
 12  order postal              33093 non-null  object
 13  tax collection model      30232 non-null  object
 14  product sales             45609 non-null  float64
 15  product sales tax         45609 non-null  float64
 16  shipping credits          45609 non-null  float64
 17  shipping credits tax      45609 non-null  float64
 18  gift wrap credits         45609 non-null  float64
 19  giftwrap credits tax      45609 non-null  float64
 20  Regulatory Fee            45609 non-null  int64
 21  Tax On Regulatory Fee     45609 non-null  int64
 22  promotional rebates       45609 non-null  float64
 23  promotional rebates tax   45609 non-null  int64
 24  marketplace withheld tax  45609 non-null  float64
 25  selling fees              45609 non-null  float64
 26  fba fees                  45609 non-null  float64
 27  other transaction fees    45609 non-null  float64
 28  other                     45609 non-null  float64
 29  total                     45609 non-null  float64
dtypes: float64(14), int64(4), object(12)
memory usage: 10.8+ MB

**Select fulfillment**

All FBM 'Shipping Services' items get dropped as they dont have a fulfillment

In [8]:
fulfillment = 'Amazon'
fulfil = Oid.loc[Oid['fulfillment']==fulfillment]
fulfil

,date/time,settlement id,type,order id,sku,description,quantity,marketplace,account type,fulfillment,...,Regulatory Fee,Tax On Regulatory Fee,promotional rebates,promotional rebates tax,marketplace withheld tax,selling fees,fba fees,other transaction fees,other,total
16,"Jan 1, 2023 8:13:26 PM PST",17143526261,Order,113-0597596-1010624,794296966fba,Markal - 96966 Pro-Line HP High Performance Li...,1.0,amazon.com,Invoiced Orders,Amazon,...,0,0,0.00,0,-1.68,-4.20,-5.06,0.0,0.0,18.73
17,"Jan 1, 2023 11:09:19 PM PST",17149362761,Order,114-1237401-5494660,073134801fba,PIP 34-800/XL MaxiFoam G-Tek Premium Nitrile F...,1.0,amazon.com,Standard Orders,Amazon,...,0,0,0.00,0,-3.43,-7.35,-5.71,0.0,0.0,35.93
19,"Jan 2, 2023 1:35:02 AM PST",17149362761,Order,112-8442762-2924213,806088471fba,"3M Xtract Cubitron II Net Disc 710W, 120+, 5 i...",1.0,amazon.com,Standard Orders,Amazon,...,0,0,0.00,0,0.00,-3.30,-5.06,0.0,0.0,13.63
21,"Jan 2, 2023 4:29:46 AM PST",17149362761,Order,114-6930593-8312219,806088455fba,"3M Xtract Cubitron II Net Disc 710W, 80+, 6 in...",1.0,amazon.com,Standard Orders,Amazon,...,0,0,0.00,0,-1.51,-4.80,-5.71,0.0,0.0,21.48
22,"Jan 2, 2023 4:53:50 AM PST",17149362761,Order,112-8442762-2924213,806088476fba,"3M Xtract Cubitron II Net Disc 710W, 320+, 5 i...",1.0,amazon.com,Standard Orders,Amazon,...,0,0,0.00,0,0.00,-3.30,-4.27,0.0,0.0,14.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45976,"Nov 30, 2023 11:38:44 PM PST",19201956281,Order,111-1594656-8635414,806088489fba,"3M Xtract Cubitron II Net Disc 710W, 220+, 3 i...",1.0,amazon.com,Standard Orders,Amazon,...,0,0,0.00,0,-1.51,-3.12,-4.16,0.0,0.0,13.49
45977,"Nov 30, 2023 11:38:44 PM PST",19201956281,Order,113-2626300-0465837,147512162fba,"Lufkin Shockforce G2 16-ft Nite Eye, Magnetic ...",1.0,amazon.com,Standard Orders,Amazon,...,0,0,0.00,0,-1.75,-3.74,-5.70,0.0,0.0,15.50
45978,"Nov 30, 2023 11:41:29 PM PST",19201956281,Order,114-4344818-4509042,261185195fba,"GEARWRENCH 3/8"" 120XP Flex Head Electronic Tor...",1.0,amazon.com,Standard Orders,Amazon,...,0,0,-8.56,0,-13.19,-29.31,-11.99,0.0,0.0,154.12
45979,"Nov 30, 2023 11:54:36 PM PST",19201956281,Order,111-6046110-5737833,806088456fba,"Cubitron 3M Xtract Net Disc 710W, 120+, 6 in, ...",1.0,amazon.com,Standard Orders,Amazon,...,0,0,0.00,0,-3.21,-4.70,-5.70,0.0,0.0,20.96
45980,"Nov 30, 2023 11:56:12 PM PST",19201956281,Order,113-3336543-1938607,806088474fba,"Cubitron 3M Xtract Net Disc 710W, 220+, 5 in, ...",1.0,amazon.com,Standard Orders,Amazon,...,0,0,0.00,0,-1.62,-3.88,-4.54,0.0,0.0,17.46

In [9]:
if fulfillment == 'Amazon':
    fulfil['sku']=fulfil['sku'].apply(lambda x: str(x)[:9])
    fulfil['sku'].apply(lambda x: len(x)).unique()

C:\Users\rrichesin\AppData\Local\Temp\ipykernel_18132\2346058503.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fulfil['sku']=fulfil['sku'].apply(lambda x: str(x)[:9])

**Read in Cost sheet**

In [10]:
ordCost = pd.read_excel('input/amznCostOrders.xlsx')

In [11]:
ordCost.iloc[:,7:25].sample(10)

,Order Suffix,Warehouse,Customer PO,Reference,Line Number,Entered Date,Shipped Date,Invoice Date,Transaction Type,Customer Product Number,Product Number,"Stock, Special, Non-Stock",Description,Description 2,Qty Shipped,UOM,Unit Cost,Unit Sell Price
7252,0,901A,114-8143572-5945817,NaN,1,2023-03-20,2023-03-20,2023-03-20,SO,NaN,806088457,s,"6""XNH 710W 150+ XTRACT",CUBITRON NET DISC,1,CT,21.17487,31.99
9540,0,901A,111-4695568-0359418,NaN,1,2023-04-13,2023-04-13,2023-04-13,SO,NaN,806088471,s,"5""XNH 710W 120+ XTRACT",CUBITRON NET DISC,1,CT,11.58460,22.99
17339,0,201,114-0440079-3177031,NaN,1,2023-07-18,2023-07-19,2023-07-19,SO,NaN,794296960,NaN,96960 PRO-LINE HP WHITE,PAINT MARKER,1,BX,15.48000,33.91
2601,0,901A,113-8263025-0930635,NaN,1,2023-01-30,2023-01-30,2023-01-30,SO,NaN,806088473,s,"5""XNH 710W 180+ XTRACT",CUBITRON NET DISC,6,CT,11.46458,21.99
5375,0,201,112-3286614-1214608,NaN,1,2023-03-01,2023-03-02,2023-03-02,SO,NaN,134014751,s,DGR51 .5 HP RIGHT ANGLE,DIE GRINDER,1,EA,75.17246,127.50
14218,0,901A,112-4422202-7814606,NaN,1,2023-06-09,2023-06-09,2023-06-09,SO,NaN,806088472,s,"5""XNH 710W 150+ XTRACT",CUBITRON NET DISC,3,CT,11.70720,22.99
9695,0,201,113-2822441-7113028,NaN,1,2023-04-14,2023-04-17,2023-04-17,SO,NaN,261180550,NaN,"80550 57PC 3/8"" DR 6PT",SAE/MET SOCKET SET,1,EA,53.20000,107.99
22140,0,901A,114-6752833-3465834,NaN,1,2023-09-09,2023-09-09,2023-09-11,SO,NaN,806088471,s,"5""XNH 710W 120+ XTRACT",CUBITRON NET DISC,1,CT,11.69226,23.27
14891,0,901A,114-6315075-2363415,NaN,3,2023-06-15,2023-06-15,2023-06-15,SO,NaN,806088456,s,"6""XNH 710W 120+ XTRACT",CUBITRON NET DISC,1,CT,19.26235,31.99
33689,0,901A,112-2466607-2608202,NaN,1,2023-12-16,2023-12-16,2023-12-18,SO,NaN,806088456,s,"6""XNH 710W 120+ XTRACT",CUBITRON NET DISC,1,CT,21.24475,31.49

In [12]:
ordCost.rename(columns={'Product Number':'sku'}, inplace=True)
cost = ordCost[['sku', 'Unit Cost']]
cost.sample(5)

             sku  Unit Cost
9918   806088474   13.66894
32669  794261051   29.27784
22164  794296960   15.49848
7092   794261053   25.68000
10911  794296873   15.24000

**Drop returned orders from cost sheet**

In [13]:
cost = cost.loc[cost['Unit Cost']>0]
cost['sku'].nunique()

239

**Groupby cost to get average cost per item (since cost changes over time and whse)**

In [14]:
cost_gb = pd.DataFrame(cost.groupby('sku')['Unit Cost'].mean().reset_index(),columns=['sku','Unit Cost'])

In [15]:
cost_gb['sku'] = cost_gb['sku'].astype(str)
cost_gb['sku'] = cost_gb['sku'].str.zfill(9)

In [16]:
cost_gb

           sku   Unit Cost
0    001205841    2.840000
1    014297675  314.145000
2    030424352  144.550000
3    032003400   36.163845
4    056200331   12.830440
..         ...         ...
234  986800331   27.443270
235  986800341   38.575200
236  986803410   22.723793
237  434-61053   70.748000
238  00082204C   98.550000

[239 rows x 2 columns]

**Combine to add product costs to df**

In [17]:
both = fulfil.join(cost_gb.set_index('sku'), on='sku')

In [18]:
both.sample(5)

,date/time,settlement id,type,order id,sku,description,quantity,marketplace,account type,fulfillment,...,Tax On Regulatory Fee,promotional rebates,promotional rebates tax,marketplace withheld tax,selling fees,fba fees,other transaction fees,other,total,Unit Cost
8412,"Feb 24, 2023 10:43:16 PM PST",17466329531,Order,114-6206679-3008254,794296961,Markal 96961- Paint-Riter+ Oily Surface Liquid...,1.0,amazon.com,Standard Orders,Amazon,...,0,0.0,0,-2.65,-4.35,-5.03,0.0,0.0,19.61,14.844840
14924,"Apr 6, 2023 11:33:13 AM PDT",17719575561,Order,112-2217598-6606610,806088470,"3M Xtract Cubitron II Net Disc 710W, 80+, 5 in...",1.0,amazon.com,Standard Orders,Amazon,...,0,0.0,0,0.00,-3.45,-4.75,0.0,0.0,14.79,12.170029
32079,"Aug 22, 2023 10:37:18 PM PDT",18566954581,Order,114-5858085-7005012,806088471,"Cubitron 3M Xtract Net Disc 710W, 120+, 5 in, ...",1.0,amazon.com,Standard Orders,Amazon,...,0,0.0,0,-1.35,-3.38,-4.75,0.0,0.0,14.43,11.728623
39906,"Oct 18, 2023 12:33:38 PM PDT",18928092041,Order,113-1279929-2511409,806088456,"Cubitron 3M Xtract Net Disc 710W, 120+, 6 in, ...",1.0,amazon.com,Standard Orders,Amazon,...,0,0.0,0,0.00,0.00,-5.70,0.0,0.0,30.53,20.315975
18024,"Apr 30, 2023 1:59:00 AM PDT",17801558341,Order,113-2041866-0769027,806088470,"3M Xtract Cubitron II Net Disc 710W, 80+, 5 in...",1.0,amazon.com,Standard Orders,Amazon,...,0,0.0,0,-2.18,-3.45,-4.75,0.0,0.0,14.79,12.170029

**Get total cost of goods per order**

In [19]:
both['Extended Cost'] = both['quantity'] * both['Unit Cost']
both.iloc[:,14:]

,product sales,product sales tax,shipping credits,shipping credits tax,gift wrap credits,giftwrap credits tax,Regulatory Fee,Tax On Regulatory Fee,promotional rebates,promotional rebates tax,marketplace withheld tax,selling fees,fba fees,other transaction fees,other,total,Unit Cost,Extended Cost
16,27.99,1.68,0.00,0.0,0.0,0.0,0,0,0.00,0,-1.68,-4.20,-5.06,0.0,0.0,18.73,15.366171,15.366171
17,48.99,3.43,0.00,0.0,0.0,0.0,0,0,0.00,0,-3.43,-7.35,-5.71,0.0,0.0,35.93,30.322755,30.322755
19,21.99,0.00,0.00,0.0,0.0,0.0,0,0,0.00,0,0.00,-3.30,-5.06,0.0,0.0,13.63,11.728623,11.728623
21,31.99,1.51,0.00,0.0,0.0,0.0,0,0,0.00,0,-1.51,-4.80,-5.71,0.0,0.0,21.48,19.302393,19.302393
22,21.99,0.00,0.00,0.0,0.0,0.0,0,0,0.00,0,0.00,-3.30,-4.27,0.0,0.0,14.42,11.750324,11.750324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45976,20.77,1.51,0.00,0.0,0.0,0.0,0,0,0.00,0,-1.51,-3.12,-4.16,0.0,0.0,13.49,8.732157,8.732157
45977,24.94,1.75,0.00,0.0,0.0,0.0,0,0,0.00,0,-1.75,-3.74,-5.70,0.0,0.0,15.50,11.840000,11.840000
45978,195.42,13.19,8.56,0.0,0.0,0.0,0,0,-8.56,0,-13.19,-29.31,-11.99,0.0,0.0,154.12,139.657733,139.657733
45979,31.36,3.21,0.00,0.0,0.0,0.0,0,0,0.00,0,-3.21,-4.70,-5.70,0.0,0.0,20.96,20.315975,20.315975
45980,25.88,1.62,0.00,0.0,0.0,0.0,0,0,0.00,0,-1.62,-3.88,-4.54,0.0,0.0,17.46,12.596021,12.596021

**Get refund totals for fulfillment type**

In [20]:
refunds = df.loc[(df['fulfillment']==fulfillment) & (df['type']=='Refund')]

**Drop refunds from amzn file**

In [21]:
bothNoRefunds = both.loc[both['type']=='Order']

In [22]:
bothNoRefunds

,date/time,settlement id,type,order id,sku,description,quantity,marketplace,account type,fulfillment,...,promotional rebates,promotional rebates tax,marketplace withheld tax,selling fees,fba fees,other transaction fees,other,total,Unit Cost,Extended Cost
16,"Jan 1, 2023 8:13:26 PM PST",17143526261,Order,113-0597596-1010624,794296966,Markal - 96966 Pro-Line HP High Performance Li...,1.0,amazon.com,Invoiced Orders,Amazon,...,0.00,0,-1.68,-4.20,-5.06,0.0,0.0,18.73,15.366171,15.366171
17,"Jan 1, 2023 11:09:19 PM PST",17149362761,Order,114-1237401-5494660,073134801,PIP 34-800/XL MaxiFoam G-Tek Premium Nitrile F...,1.0,amazon.com,Standard Orders,Amazon,...,0.00,0,-3.43,-7.35,-5.71,0.0,0.0,35.93,30.322755,30.322755
19,"Jan 2, 2023 1:35:02 AM PST",17149362761,Order,112-8442762-2924213,806088471,"3M Xtract Cubitron II Net Disc 710W, 120+, 5 i...",1.0,amazon.com,Standard Orders,Amazon,...,0.00,0,0.00,-3.30,-5.06,0.0,0.0,13.63,11.728623,11.728623
21,"Jan 2, 2023 4:29:46 AM PST",17149362761,Order,114-6930593-8312219,806088455,"3M Xtract Cubitron II Net Disc 710W, 80+, 6 in...",1.0,amazon.com,Standard Orders,Amazon,...,0.00,0,-1.51,-4.80,-5.71,0.0,0.0,21.48,19.302393,19.302393
22,"Jan 2, 2023 4:53:50 AM PST",17149362761,Order,112-8442762-2924213,806088476,"3M Xtract Cubitron II Net Disc 710W, 320+, 5 i...",1.0,amazon.com,Standard Orders,Amazon,...,0.00,0,0.00,-3.30,-4.27,0.0,0.0,14.42,11.750324,11.750324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45976,"Nov 30, 2023 11:38:44 PM PST",19201956281,Order,111-1594656-8635414,806088489,"3M Xtract Cubitron II Net Disc 710W, 220+, 3 i...",1.0,amazon.com,Standard Orders,Amazon,...,0.00,0,-1.51,-3.12,-4.16,0.0,0.0,13.49,8.732157,8.732157
45977,"Nov 30, 2023 11:38:44 PM PST",19201956281,Order,113-2626300-0465837,147512162,"Lufkin Shockforce G2 16-ft Nite Eye, Magnetic ...",1.0,amazon.com,Standard Orders,Amazon,...,0.00,0,-1.75,-3.74,-5.70,0.0,0.0,15.50,11.840000,11.840000
45978,"Nov 30, 2023 11:41:29 PM PST",19201956281,Order,114-4344818-4509042,261185195,"GEARWRENCH 3/8"" 120XP Flex Head Electronic Tor...",1.0,amazon.com,Standard Orders,Amazon,...,-8.56,0,-13.19,-29.31,-11.99,0.0,0.0,154.12,139.657733,139.657733
45979,"Nov 30, 2023 11:54:36 PM PST",19201956281,Order,111-6046110-5737833,806088456,"Cubitron 3M Xtract Net Disc 710W, 120+, 6 in, ...",1.0,amazon.com,Standard Orders,Amazon,...,0.00,0,-3.21,-4.70,-5.70,0.0,0.0,20.96,20.315975,20.315975
45980,"Nov 30, 2023 11:56:12 PM PST",19201956281,Order,113-3336543-1938607,806088474,"Cubitron 3M Xtract Net Disc 710W, 220+, 5 in, ...",1.0,amazon.com,Standard Orders,Amazon,...,0.00,0,-1.62,-3.88,-4.54,0.0,0.0,17.46,12.596021,12.596021

In [23]:
bothNoRefunds['order id'].nunique()

14791

# Sums

In [24]:
sums = bothNoRefunds.iloc[:,14:].sum()
sums = pd.DataFrame(sums, columns=['sum'])

**adding the additional fba(Adjustments, FBA Inv, FBA Refunds) or fbm (FBM Refunds, Shipping Services) specific fees**

In [25]:
if fulfillment == 'Amazon':
    sums.loc['Adjustments'] = df.loc[df['type']=='Adjustment'].iloc[:,14:].sum()['total']
    sums.loc['FBA Inventory Fees'] = df.loc[df['type']=='FBA Inventory Fee'].iloc[:,14:].sum()['total']
    sums.loc['Refunds'] = refunds.iloc[:,14:].sum()['total']
elif fulfillment == 'Seller':
    sums.loc['Shipping Services'] = df.loc[df['type']=='Shipping Services'].iloc[:,14:].sum()['total']
    sums.loc['Refunds'] = refunds.iloc[:,14:].sum()['total']

**Net profit**

In [26]:
sums.loc['total']['sum'] - sums.loc['Extended Cost']['sum']

112318.1060856639

**Net profit less specific fees**

In [27]:
net = sums.loc['total']['sum'] - sums.loc['Extended Cost']['sum']
if fulfillment == 'Amazon':
    net2 = net + sums.loc['Adjustments']['sum'] + sums.loc['FBA Inventory Fees']['sum'] + sums.loc['Refunds']['sum']
    print(net + sums.loc['Adjustments']['sum'] + sums.loc['FBA Inventory Fees']['sum'] + sums.loc['Refunds']['sum'])
else:
    net2 = net + sums.loc['Shipping Services']['sum'] + sums.loc['Refunds']['sum']
    print(net + sums.loc['Shipping Services']['sum'] + sums.loc['Refunds']['sum'])

93197.63608566391

**Adding net profit row**

In [28]:
sums.loc['Net Profit'] = net2

In [29]:
#sums

**Adds percentage of sales values**

In [30]:
sums['percentage of sales'] = sums['sum'].apply(lambda x: round(((x / sums.loc['product sales']) * 100),1))
sums

                                    sum  percentage of sales
product sales             757939.160000                100.0
product sales tax          48865.480000                  6.4
shipping credits            7639.290000                  1.0
shipping credits tax         109.520000                  0.0
gift wrap credits             11.980000                  0.0
giftwrap credits tax           0.250000                  0.0
Regulatory Fee                 0.000000                  0.0
Tax On Regulatory Fee          0.000000                  0.0
promotional rebates        -5330.060000                 -0.7
promotional rebates tax        0.000000                  0.0
marketplace withheld tax  -48975.250000                 -6.5
selling fees             -112330.860000                -14.8
fba fees                 -105663.460000                -13.9
other transaction fees         0.000000                  0.0
other                          0.000000                  0.0
total                     542266.050000                 71.5
Unit Cost                 395759.751164                 52.2
Extended Cost             429947.943914                 56.7
Adjustments                 4656.050000                  0.6
FBA Inventory Fees         -7906.760000                 -1.0
Refunds                   -15869.760000                 -2.1
Net Profit                 93197.636086                 12.3

In [31]:
#sums.to_excel('fbm2.xlsx')